Video_1.mp4 filter=lfs diff=lfs merge=lfs -text
Video_2.mp4 filter=lfs diff=lfs merge=lfs -text
Video_0.mp4 filter=lfs diff=lfs merge=lfs -text
Circle_1.jpg filter=lfs diff=lfs merge=lfs -text
Circle_12.jpg filter=lfs diff=lfs merge=lfs -text
Circle_21.jpg filter=lfs diff=lfs merge=lfs -text
Circle_7.jpg filter=lfs diff=lfs merge=lfs -text
Circle_16.jpg filter=lfs diff=lfs merge=lfs -text
Circle_17.jpg filter=lfs diff=lfs merge=lfs -text
Circle_18.jpg filter=lfs diff=lfs merge=lfs -text
Circle_19.jpg filter=lfs diff=lfs merge=lfs -text
Circle_9.jpg filter=lfs diff=lfs merge=lfs -text
Circle_0.jpg filter=lfs diff=lfs merge=lfs -text
Circle_11.jpg filter=lfs diff=lfs merge=lfs -text
Circle_15.jpg filter=lfs diff=lfs merge=lfs -text
Circle_20.jpg filter=lfs diff=lfs merge=lfs -text
Circle_8.jpg filter=lfs diff=lfs merge=lfs -text
Circle_5.jpg filter=lfs diff=lfs merge=lfs -text
Circle_6.jpg filter=lfs diff=lfs merge=lfs -text
Circle_10.jpg filter=lfs diff=lfs merge=lfs -text
Circle_13.jpg filter=lfs diff=lfs merge=lfs -text
Circle_14.jpg filter=lfs diff=lfs merge=lfs -text
Circle_22.jpg filter=lfs diff=lfs merge=lfs -text
Circle_4.jpg filter=lfs diff=lfs merge=lfs -text
